.btn{
    padding: 1em 2em;
    border: 1px solid black;
    color: white;
    background-color: black;
    margin: 0 2em;
    display: block;

    &:hover{
        color: black;
        background-color: white;
    }
}