.nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    .container{
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: flex;
            align-items: center;
            a{
                display: block;
                text-decoration: none;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0 1em;
                color: cornflowerblue;
                &:hover{
                    color: black;
                }
            }
        }
        .main_list{
            .navlinks{
                display: flex;
                li{
                    list-style: none;
                    list-style-type: none;
                    padding: 0 1em;

                    a,.a{
                        text-align: center;
                        display: block;
                        padding: 0.25em;
                        font-size: 1.2em;
                        text-decoration: none;
                        cursor: pointer;
                        color: cornflowerblue;
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
.nav{
    .navlinks{
        flex-direction: column;
        width: 100vw;
        box-shadow: 0 3px 3px;
    }
    .navTrigger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 25px;
        padding: 1em;
        padding-bottom: 0;


        i {
            background-color: cyan;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 4px;

            &:nth-child(1) {
                -webkit-animation: outT 0.8s backwards;
                animation: outT 0.8s backwards;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }
            
            &:nth-child(2) {
                margin: 5px 0;
                -webkit-animation: outM 0.8s backwards;
                animation: outM 0.8s backwards;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }
            
            &:nth-child(3) {
                -webkit-animation: outBtm 0.8s backwards;
                animation: outBtm 0.8s backwards;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }
        }
    }
    .main_list{
        display: none;
        &.show_list{
            display: block;
        }
        .navlinks{padding: 0;
        margin: 0;}
    }
}

}